{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="center">
        <h1>login</h1>
        <form action="/login/" method="post">
            {% csrf_token %}
                <div class="txt_field">
                    <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
                    <label for="id_username">Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" autocomplete="new-password" required="" id="id_password">
                    <label for="id_password">Password</label>
                </div>
                <a class="pass">Forgot Password?</a>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Not a member? <a href="/register/">Signup</a>
                </div>
        </form>
    </div>
</body>

</html>
